<a href="https://colab.research.google.com/github/mietekdom/Data-Science/blob/master/01_knowledge/04_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
pd.__version__

'1.0.5'

Obiekty typu Series

In [4]:
S = pd.Series(data=[1, 3, 5, 6])
S

0    1
1    3
2    5
3    6
dtype: int64

In [7]:
S = pd.Series(data=[1, 3, 5, 6],index=['a', 'b', 'c', 'd'], name='sample')
S

a    1
b    3
c    5
d    6
Name: sample, dtype: int64

In [8]:
import numpy as np
np.nan # wstawiamy braki do obiektu

nan

In [10]:
S = pd.Series(data=[1, np.nan, 5, 6],index=['a', 'b', 'c', 'd'], name='sample')
S

a    1.0
b    NaN
c    5.0
d    6.0
Name: sample, dtype: float64

In [11]:
S = pd.Series(data=[True, True, False])
S

0     True
1     True
2    False
dtype: bool

Ideks jako daty

In [13]:
S = pd.Series(data=np.arange(10, 20), index=pd.date_range(start='20200901',periods=10))
S

2020-09-01    10
2020-09-02    11
2020-09-03    12
2020-09-04    13
2020-09-05    14
2020-09-06    15
2020-09-07    16
2020-09-08    17
2020-09-09    18
2020-09-10    19
Freq: D, dtype: int64