<a href="https://colab.research.google.com/github/mietekdom/Data-Science/blob/master/01_knowledge/04_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Series

In [1]:
import pandas as pd
pd.__version__

'1.0.5'

Obiekty typu Series

In [ ]:
S = pd.Series(data=[1, 3, 5, 6])
S

0    1
1    3
2    5
3    6
dtype: int64

In [ ]:
S = pd.Series(data=[1, 3, 5, 6],index=['a', 'b', 'c', 'd'], name='sample')
S

a    1
b    3
c    5
d    6
Name: sample, dtype: int64

In [ ]:
import numpy as np
np.nan # wstawiamy braki do obiektu

nan

In [ ]:
S = pd.Series(data=[1, np.nan, 5, 6],index=['a', 'b', 'c', 'd'], name='sample')
S

a    1.0
b    NaN
c    5.0
d    6.0
Name: sample, dtype: float64

In [ ]:
S = pd.Series(data=[True, True, False])
S

0     True
1     True
2    False
dtype: bool

Ideks jako daty

In [ ]:
S = pd.Series(data=np.arange(10, 20), index=pd.date_range(start='20200901',periods=10))
S

2020-09-01    10
2020-09-02    11
2020-09-03    12
2020-09-04    13
2020-09-05    14
2020-09-06    15
2020-09-07    16
2020-09-08    17
2020-09-09    18
2020-09-10    19
Freq: D, dtype: int64

In [ ]:
S = pd.Series(data=['java', 'python', 'sql'], name='languages')
S

0      java
1    python
2       sql
Name: languages, dtype: object

Atrybuty

In [ ]:
S = pd.Series(data=np.arange(10, 20), index=pd.date_range(start='20200901',periods=10))
S

2020-09-01    10
2020-09-02    11
2020-09-03    12
2020-09-04    13
2020-09-05    14
2020-09-06    15
2020-09-07    16
2020-09-08    17
2020-09-09    18
2020-09-10    19
Freq: D, dtype: int64

In [ ]:
S.index

DatetimeIndex(['2020-09-01', '2020-09-02', '2020-09-03', '2020-09-04',
               '2020-09-05', '2020-09-06', '2020-09-07', '2020-09-08',
               '2020-09-09', '2020-09-10'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
list(S.index) #zmiana na liste

[Timestamp('2020-09-01 00:00:00', freq='D'),
 Timestamp('2020-09-02 00:00:00', freq='D'),
 Timestamp('2020-09-03 00:00:00', freq='D'),
 Timestamp('2020-09-04 00:00:00', freq='D'),
 Timestamp('2020-09-05 00:00:00', freq='D'),
 Timestamp('2020-09-06 00:00:00', freq='D'),
 Timestamp('2020-09-07 00:00:00', freq='D'),
 Timestamp('2020-09-08 00:00:00', freq='D'),
 Timestamp('2020-09-09 00:00:00', freq='D'),
 Timestamp('2020-09-10 00:00:00', freq='D')]

In [ ]:
S.values

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [ ]:
S.dtypes #określa format kodu

dtype('int64')

In [ ]:
S.shape

(10,)

In [ ]:
price = pd.Series(data={'Apple': 200, 'CD Project': 60, 'Amazon': 1900, 'KGHM': np.nan}) #data series jako słownik
price

Apple          200.0
CD Project      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [ ]:
price[1]
price['Amazon'] #wycinanie danych

1900.0

In [ ]:
price.count() #zlicza elementy w obiekcie typu series

3

In [ ]:
price.value_counts() #zlicza ile razy wystepuje element w obiekcie

1900.0    1
60.0      1
200.0     1
dtype: int64

In [ ]:
price.sum() #sumowanie

2160.0

In [ ]:
price.max()

1900

In [ ]:
price.min()

60

In [ ]:
price.mean()

720.0

In [ ]:
price.describe() #opis zbiorczy naszego obiektu

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [ ]:
price.nlargest(1) #wybiera obiekty 1 -jedna najwieksza

Amazon    1900.0
dtype: float64

In [ ]:
price.nsmallest(1)#wybiera obiekty 1 -jedna najmniejsza

CD Project    60.0
dtype: float64

In [ ]:
price.rank() # porzadkuje elementy w obiekcie

Apple         2.0
CD Project    1.0
Amazon        3.0
KGHM          NaN
dtype: float64

In [ ]:
price.sort_values() #sortowanie elementów

CD Project      60.0
Apple          200.0
Amazon        1900.0
KGHM             NaN
dtype: float64

Metoda apply

In [ ]:
price_PLN = price.apply(lambda x: x * 3.8) #przemnożenie funkcji przez 3.8

In [ ]:
price

Apple          200.0
CD Project      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [ ]:
price_PLN

Apple          760.0
CD Project     228.0
Amazon        7220.0
KGHM             NaN
dtype: float64

Data Frame

In [3]:
df = pd.DataFrame(data = [12, 23, 45, 45])
df

    0
0  12
1  23
2  45
3  45

In [6]:
df = pd.DataFrame(data = [12, 23, 45, 45], index=['first', 'secound', 'third', 'fourth'], columns=['col_1'])
df

         col_1
first       12
secound     23
third       45
fourth      45

In [7]:
df = pd.DataFrame(data={'WIG20':['PKN Orlen', 'PKO BP'],
                        'MWIG40': ['Amica', 'PlayWay']}) # DataFrame ze słownika
df

       WIG20   MWIG40
0  PKN Orlen    Amica
1     PKO BP  PlayWay

In [9]:
df = pd.DataFrame(data = [[12, 23, 45, 45], [24, 12, 45, 12]], index=['first', 'secound'], columns=['col_1', 'col_2', 'col_3', 'col_4'])
df

         col_1  col_2  col_3  col_4
first       12     23     45     45
secound     24     12     45     12

In [10]:
df.columns # zwraca liste kolumn

Index(['col_1', 'col_2', 'col_3', 'col_4'], dtype='object')

In [11]:
df.index # zwraca indeksy

Index(['first', 'secound'], dtype='object')

In [12]:
df.values # zwraca wartości z Data Frame

array([[12, 23, 45, 45],
       [24, 12, 45, 12]])

In [14]:
df.info() # zwraca informacje

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, first to secound
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col_1   2 non-null      int64
 1   col_2   2 non-null      int64
 2   col_3   2 non-null      int64
 3   col_4   2 non-null      int64
dtypes: int64(4)
memory usage: 160.0+ bytes

In [15]:
df.describe() #zwraca informacje statystyczne

           col_1      col_2  col_3      col_4
count   2.000000   2.000000    2.0   2.000000
mean   18.000000  17.500000   45.0  28.500000
std     8.485281   7.778175    0.0  23.334524
min    12.000000  12.000000   45.0  12.000000
25%    15.000000  14.750000   45.0  20.250000
50%    18.000000  17.500000   45.0  28.500000
75%    21.000000  20.250000   45.0  36.750000
max    24.000000  23.000000   45.0  45.000000

In [16]:
df.describe().T #zwraca informacje statystyczne (po trnasponowaniu)

       count  mean        std   min    25%   50%    75%   max
col_1    2.0  18.0   8.485281  12.0  15.00  18.0  21.00  24.0
col_2    2.0  17.5   7.778175  12.0  14.75  17.5  20.25  23.0
col_3    2.0  45.0   0.000000  45.0  45.00  45.0  45.00  45.0
col_4    2.0  28.5  23.334524  12.0  20.25  28.5  36.75  45.0

Selekcja kolumn

In [17]:
df

         col_1  col_2  col_3  col_4
first       12     23     45     45
secound     24     12     45     12

In [20]:
df['col_2'] # wycinanie kolumn

first      23
secound    12
Name: col_2, dtype: int64

In [21]:
type(df['col_3'])

pandas.core.series.Series

In [22]:
df[['col_3']]

         col_3
first       45
secound     45

In [23]:
type(df[['col_3']])

pandas.core.frame.DataFrame

In [26]:
df.columns = ['a', 'b', 'c', 'd'] # zmiana nazw kolumn
df

          a   b   c   d
first    12  23  45  45
secound  24  12  45  12

In [28]:
df.a # wycinanie kolumny po nazwie kolumny

first      12
secound    24
Name: a, dtype: int64

In [29]:
df['e'] = df.a + df.b # tworzenie nowej kolumny (jako suma kolumny a i b)
df

          a   b   c   d   e
first    12  23  45  45  35
secound  24  12  45  12  36

In [30]:
df = pd.DataFrame(data = [[12, 23, 45, 45], [23, 56, 76, 2]], index=['first', 'secound'], columns=['col_1', 'col_2', 'col_3', 'col_4'])
df

         col_1  col_2  col_3  col_4
first       12     23     45     45
secound     23     56     76      2

Metoda loc i iloc (wycinanie)

In [31]:
df.loc['first'] # wycinanie wiersza (po nazwie indeksu)

col_1    12
col_2    23
col_3    45
col_4    45
Name: first, dtype: int64

In [33]:
df.iloc[0] # wycinanie po numerze wierszy

col_1    12
col_2    23
col_3    45
col_4    45
Name: first, dtype: int64

In [34]:
df.loc['first', 'col_3'] # wycinanie po wierszu i kolumnie

45

In [35]:
df.loc[:, 'col_3'] # wycinanie kolumny

first      45
secound    76
Name: col_3, dtype: int64

In [38]:
df.iloc[1, 2] # wycinaie po wierszu i kolumnie

76

In [39]:
df.iloc[:, 2] # wycinanie całej kolumny

first      45
secound    76
Name: col_3, dtype: int64