<a href="https://colab.research.google.com/github/mietekdom/Data-Science/blob/master/01_knowledge/05_pandas_GE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import biblotek

In [1]:
import pandas as pd
import numpy as np
print(f'Pandas: {pd.__version__}')
print(f'Numpy: {np.__version__}')

Pandas: 1.0.5
Numpy: 1.18.5

Załadowanie danych

In [7]:
def fetch_financial_data(company='GE'):
    """Pobiera dane dotyczące notowań spółek na giełdzie według symboli
    na serwisie stooq.pl"""
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

df = fetch_financial_data()
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1257 entries, 2020-08-26 to 2015-08-31
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1257 non-null   float64
 1   High    1257 non-null   float64
 2   Low     1257 non-null   float64
 3   Close   1257 non-null   float64
 4   Volume  1257 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 58.9 KB

In [15]:
df

              open     high     low   close     volume
Date
2020-08-26   6.620   6.6200   6.440   6.480   57303986
2020-08-25   6.650   6.7000   6.480   6.590   69449105
2020-08-24   6.350   6.6400   6.300   6.630  102785415
2020-08-21   6.250   6.3800   6.230   6.310   59851459
2020-08-20   6.330   6.3769   6.210   6.270   63763962
...            ...      ...     ...     ...        ...
2015-09-04  21.560  21.5600  21.265  21.397   39960825
2015-09-03  22.074  22.2440  21.746  21.852   37646287
2015-09-02  21.523  21.9150  21.246  21.907   56619445
2015-09-01  21.595  21.7170  21.113  21.291   73290061
2015-08-31  22.272  22.2720  21.915  22.129   41506958

[1257 rows x 5 columns]

In [10]:
df.head(10) # zwraca pierwsze 10 wierszy

            Open    High    Low  Close     Volume
Date
2020-08-26  6.62  6.6200  6.440   6.48   57303986
2020-08-25  6.65  6.7000  6.480   6.59   69449105
2020-08-24  6.35  6.6400  6.300   6.63  102785415
2020-08-21  6.25  6.3800  6.230   6.31   59851459
2020-08-20  6.33  6.3769  6.210   6.27   63763962
2020-08-19  6.47  6.5700  6.350   6.38   54361951
2020-08-18  6.49  6.5700  6.410   6.44   42686043
2020-08-17  6.67  6.6900  6.450   6.47   59029425
2020-08-14  6.54  6.7200  6.470   6.66   50397190
2020-08-13  6.59  6.7600  6.585   6.60   53428517

In [11]:
df.columns # nazwy kolumn

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [12]:
df.columns = [col.lower() for col in df.columns] # zmiana liter na małe
df.columns

Index(['open', 'high', 'low', 'close', 'volume'], dtype='object')

In [16]:
df.describe() # wyswietla statystyki

              open         high          low        close        volume
count  1257.000000  1257.000000  1257.000000  1257.000000  1.257000e+03
mean     17.818074    17.995649    17.636258    17.809367  6.832732e+07
std       8.331987     8.347845     8.334273     8.347227  4.879184e+07
min       5.601600     5.651500     5.471800     5.481800  1.418883e+07
25%      10.056000    10.274000     9.935000    10.065000  3.715072e+07
50%      14.346000    14.563000    14.144000    14.318000  5.406274e+07
75%      27.049000    27.328000    26.879000    27.106000  8.327024e+07
max      30.340000    30.375000    30.135000    30.311000  4.794930e+08

Eksploracja danych