<a href="https://colab.research.google.com/github/mietekdom/Data-Science/blob/master/01_knowledge/09_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

Import danych z chmury

In [2]:
url = ('https://storage.googleapis.com/esmartdata-courses-files/ds-bootcamp/online_retail.xlsx')
retail_raw = pd.read_excel(url)
retail_raw.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [3]:
retail = retail_raw.copy()
retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [5]:
retail.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [4]:
retail.isnull().sum() # sprawdzamy liczbe braków danych

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [7]:
retail = retail.dropna() # usuwamy braki danych
retail.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [11]:
retail = retail[retail.Quantity >= 0] # wycinamy wartości będące powyżej zera
retail.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 397924 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    397924 non-null  object
 1   StockCode    397924 non-null  object
 2   Description  397924 non-null  object
 3   Quantity     397924 non-null  int64
 4   InvoiceDate  397924 non-null  datetime64[ns]
 5   UnitPrice    397924 non-null  float64
 6   CustomerID   397924 non-null  float64
 7   Country      397924 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 27.3+ MB

In [12]:
retail.CustomerID = retail.CustomerID.apply(lambda x: str(int(x))) # zamiana CustomerID na Object
retail.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 397924 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    397924 non-null  object
 1   StockCode    397924 non-null  object
 2   Description  397924 non-null  object
 3   Quantity     397924 non-null  int64
 4   InvoiceDate  397924 non-null  datetime64[ns]
 5   UnitPrice    397924 non-null  float64
 6   CustomerID   397924 non-null  object
 7   Country      397924 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 27.3+ MB

In [13]:
retail.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...      17850  United Kingdom
1    536365     71053  ...      17850  United Kingdom
2    536365    84406B  ...      17850  United Kingdom
3    536365    84029G  ...      17850  United Kingdom
4    536365    84029E  ...      17850  United Kingdom

[5 rows x 8 columns]

SQL

In [14]:
# SELECT * from retail
retail

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...      17850  United Kingdom
1         536365     71053  ...      17850  United Kingdom
2         536365    84406B  ...      17850  United Kingdom
3         536365    84029G  ...      17850  United Kingdom
4         536365    84029E  ...      17850  United Kingdom
...          ...       ...  ...        ...             ...
541904    581587     22613  ...      12680          France
541905    581587     22899  ...      12680          France
541906    581587     23254  ...      12680          France
541907    581587     23255  ...      12680          France
541908    581587     22138  ...      12680          France

[397924 rows x 8 columns]

In [15]:
# SELECT Quantity, UnitPrice, CustomerID FROM retail
retail[['Quantity', 'UnitPrice', 'CustomerID']] # selekcja trzech kolumn

        Quantity  UnitPrice CustomerID
0              6       2.55      17850
1              6       3.39      17850
2              8       2.75      17850
3              6       3.39      17850
4              6       3.39      17850
...          ...        ...        ...
541904        12       0.85      12680
541905         6       2.10      12680
541906         4       4.15      12680
541907         4       4.15      12680
541908         3       4.95      12680

[397924 rows x 3 columns]

In [16]:
# SELECT Quantity, UnitPrice, CustomerID FROM retail LIMIT 10
retail[['Quantity', 'UnitPrice', 'CustomerID']].head(10) # selekcja trzech kolumn 10 wierszy

   Quantity  UnitPrice CustomerID
0         6       2.55      17850
1         6       3.39      17850
2         8       2.75      17850
3         6       3.39      17850
4         6       3.39      17850
5         2       7.65      17850
6         6       4.25      17850
7         6       1.85      17850
8         6       1.85      17850
9        32       1.69      13047

In [18]:
#SELECT * FROM  retail WHERE CustomerID='17850'
retail[retail.CustomerID == '17850'] # wycinamy kiedy CustomerID = 17850

     InvoiceNo StockCode  ... CustomerID         Country
0       536365    85123A  ...      17850  United Kingdom
1       536365     71053  ...      17850  United Kingdom
2       536365    84406B  ...      17850  United Kingdom
3       536365    84029G  ...      17850  United Kingdom
4       536365    84029E  ...      17850  United Kingdom
...        ...       ...  ...        ...             ...
4540    536790     22752  ...      17850  United Kingdom
4541    536790     22803  ...      17850  United Kingdom
4542    536790     21730  ...      17850  United Kingdom
4543    536791     22632  ...      17850  United Kingdom
4544    536791     22633  ...      17850  United Kingdom

[297 rows x 8 columns]

In [19]:
# SELECT * FROM retail WHERE CustomerOD='17850' and UnitPrice > 5
retail[(retail.CustomerID == '17850') & (retail.UnitPrice > 5)]

     InvoiceNo StockCode  ... CustomerID         Country
5       536365     22752  ...      17850  United Kingdom
58      536373     82486  ...      17850  United Kingdom
63      536373     22752  ...      17850  United Kingdom
75      536375     82486  ...      17850  United Kingdom
80      536375     22752  ...      17850  United Kingdom
288     536396     82486  ...      17850  United Kingdom
293     536396     22752  ...      17850  United Kingdom
294     536396     22803  ...      17850  United Kingdom
425     536406     82486  ...      17850  United Kingdom
430     536406     22752  ...      17850  United Kingdom
431     536406     22803  ...      17850  United Kingdom
3121    536600     82486  ...      17850  United Kingdom
3127    536600     22752  ...      17850  United Kingdom
3128    536600     22803  ...      17850  United Kingdom
3141    536602     22752  ...      17850  United Kingdom
3200    536609     82486  ...      17850  United Kingdom
3206    536609     22752  ...      17850  United Kingdom
3232    536612     82486  ...      17850  United Kingdom
3433    536628     82486  ...      17850  United Kingdom
3439    536628     22752  ...      17850  United Kingdom
3451    536630     82486  ...      17850  United Kingdom
3457    536630     22752  ...      17850  United Kingdom
3805    536685     22752  ...      17850  United Kingdom
3806    536685     22803  ...      17850  United Kingdom
3816    536685     82486  ...      17850  United Kingdom
3831    536690     82486  ...      17850  United Kingdom
3837    536690     22752  ...      17850  United Kingdom
3838    536690     22803  ...      17850  United Kingdom
4171    536750     82486  ...      17850  United Kingdom
4177    536750     22752  ...      17850  United Kingdom
4178    536750     22803  ...      17850  United Kingdom
4192    536752     82486  ...      17850  United Kingdom
4198    536752     22752  ...      17850  United Kingdom
4199    536752     22803  ...      17850  United Kingdom
4521    536787     22752  ...      17850  United Kingdom
4535    536790     82486  ...      17850  United Kingdom
4540    536790     22752  ...      17850  United Kingdom
4541    536790     22803  ...      17850  United Kingdom

[38 rows x 8 columns]

In [20]:
# SELECT * FROM retail WHERE CustomerOD='17850' or Country > 'France
retail[(retail.CustomerID == '17850') | (retail.Country  == 'France')]

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...      17850  United Kingdom
1         536365     71053  ...      17850  United Kingdom
2         536365    84406B  ...      17850  United Kingdom
3         536365    84029G  ...      17850  United Kingdom
4         536365    84029E  ...      17850  United Kingdom
...          ...       ...  ...        ...             ...
541904    581587     22613  ...      12680          France
541905    581587     22899  ...      12680          France
541906    581587     23254  ...      12680          France
541907    581587     23255  ...      12680          France
541908    581587     22138  ...      12680          France

[8639 rows x 8 columns]

In [22]:
# SELECT * FROM retail WHERE InvvoiceNo is not null
retail[retail.InvoiceNo.notnull()] # wiersze gdzie kolumna InvoiceNo posiada dane

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...      17850  United Kingdom
1         536365     71053  ...      17850  United Kingdom
2         536365    84406B  ...      17850  United Kingdom
3         536365    84029G  ...      17850  United Kingdom
4         536365    84029E  ...      17850  United Kingdom
...          ...       ...  ...        ...             ...
541904    581587     22613  ...      12680          France
541905    581587     22899  ...      12680          France
541906    581587     23254  ...      12680          France
541907    581587     23255  ...      12680          France
541908    581587     22138  ...      12680          France

[397924 rows x 8 columns]

In [23]:
# SELECT CustomerID, count(*) FROM retail GROUP BY CustomerID
retail.groupby('CustomerID').size()

CustomerID
12346      1
12347    182
12348     31
12349     73
12350     17
        ...
18280     10
18281      7
18282     12
18283    756
18287     70
Length: 4339, dtype: int64